
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="cod" value="@ViewBag.Cod" />
        <div class="form-group">
            <label>Cliente Selecionado</label>
            <input class="form-control" id="cliente" readonly value="@ViewBag.Nome" />
        </div>
        <div class="form-group">
            <label>Nome do Animal*</label>
            <input class="form-control" id="animal" />
        </div>
        <div class="form-group">
            <label>Tipo*</label>
            <select class="form-control" id="tipo">
                <option value="">Selecione</option>
                <option value="1">Cachorro</option>
                <option value="2">Gato</option>
            </select>
        </div>
    </div>
</div>
<button class="btn btn-success" onclick="CadastrarAnimal()">Adicionar</button>
<hr />
<div class="row">
    <div class="col-12">
        <div class="card">

            <table class="table table-hover" id="tabelaAnimal">
                <thead>
                    <tr>
                        <th>Ação</th>
                        <th>Animal</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Animais)
                    {
                        <tr>
                            <td>
                                <input type="hidden" id="id_animal_@item.Id" value="@item.Id" />
                                <button class="btn btn-warning btn-xs" onclick="AlterarAnimal(@item.Id)">Alterar</button>
                            </td>
                            <td>
                                <input class="form-control" id="nome_animal_@item.Id" value="@item.Nome" />
                            </td>
                            <td>
                                <select class="form-control" id="tipo_alterar_@item.Id">
                                    <option value="1" @(item.Tipo == 1 ? "selected" : "")>Cachorro</option>
                                    <option value="2" @(item.Tipo == 2 ? "selected" : "")>Gato</option>
                                </select>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/ajax/animalajx.js"></script>